.stockPrices{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
}